# For loop

Basic level:

Q-1 create a program to print numbers from 1 to 10 using a for loop

In [1]:
#print number from 1 to 10
print('numbers from 1 to 10 ')
for i in range(1,11):
     print(i,end=' ')

numbers from 1 to 10
1 2 3 4 5 6 7 8 9 10

Q-2 create a program that calculates the sum of all numbers in a list

In [8]:
# create a list
li=[2,4,6,7,8,9]

# variable to store the sum 
sum=0
# sum of all numbers
for i in li:
        sum+=i
print('sum of all numbers: ',sum)

sum of all numbers:  36

Q-3 write a program to print the characters of a string in reverse order

In [23]:
str1='pwskill'

len1=len(str1)-1

print('Reverse order string :')
# reverse the string
for i in range(len1+1):
          index=len1-i
          print(str1[index],end='')

Reverse order string :
llikswp

Q-4 Develop a program that finds the factorial of a given number

In [28]:
# input the number
num=int(input())
fact=1
# calculate the factorial
for i in range(1,num+1):
          fact*=i
        
print('factorial of',num,'is',fact)

 4

factorial of 4 is 24

Q-5 create a program to print the multiplication table of a given number

In [31]:
# input the number
num=int(input('enter a number'))

# print the multiplication table
for i in range(1,11):
         print(num,'*',i,'=',num*i)

 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Q-6 write a program that counts the number of even and odd numbers in a list

In [36]:
# create a list
li=[1,2,3,4,7,8,9]

odd=0
even=0
#count the odd and even number
for i in li:
            if i%2==0:
                   even+=1
            if  i%2!=0:
                   odd+=1
#print the result                    
print('number of odd number:',odd)
print('number of even number:',even)

number of odd number: 4
number of even number: 3

Q-7 Develop a program that prints the squares of numbers from 1 to 5

In [37]:

 #prints the squares of numbers from 1 to 5
for i in range(1,6):
         print(i*i,end=' ')

1 4 9 16 25

Q-8 create a program to find the length of a string without using len()

In [39]:
str1='pwskill'
len1=0
# find the length of a string
for i in range(len(str1)):
                  len1+=1
        
print('the length of string :',len1)

the length of string : 7

Q-9  create a program to calculates the average of a list of numbers

In [43]:
li=[1,2,3,4,7,8,9]
len1=0
sum1=0

# find the length of list
for i in li:
     len1+=1
        
# find the sum of list        
for i in li:
      sum1+=i
# calculate the average        
avg=sum1/len1 
print('avarage of list is :',avg)

avarage of list is : 4.857142857142857

Q-10 Develop a program that prints the first 'n' fibonacci numbers

In [43]:
#create a empty list
li=[]
n=int(input('enter the number'))

# find fibonacci num
for i in range(n):
    if i==0 or i==1:
         li.append(i)
    else:
        li.append(li[i-1]+li[i-2])
li

enter the number 6

[0, 1, 1, 2, 3, 5]

Intermediate level

Q-11 write a program to check if a given list contains any duplicates

In [22]:
def isduplicates(list1):
    for i in li:
        count=0
        for j in li:
            if i==j:
                count+=1
                
        if count>=2:
            return True
    return False            

# create a list
li=[1,2,3,4,6,2,4]

if isduplicates(li):
         print('it contains duplicates')
else:
        print('it does not contains duplicates')

it contains duplicates

Q-12 create a program that prints the prime no in given range

In [9]:
num1=int(input('enter the first no in range'))
num2=int(input('enter the last no in range'))

for i in range(num1,num2):
        n=0
        for j in range(2,int(i**.5)+1):
                  if i%j==0:
                      n=1
        if n==0:
            print(i,end=' ')

enter the first no in range 10
enter the last no in range 30

11 13 17 19 23 29

Q-13 Develop a program that counts the number of vowel in a string

In [17]:
str1='pwskill Ao'
count=0
vowel='aieouAEIOU'
for i in str1:
    if i in vowel:
            count+=1
            
print('no of vowels in string :',count)

no of vowels in string : 3

Q-14 write a program to find the maximum element in a 2D list

In [53]:
# create a 2d list
list_2D=[[1,2,3,7],[9,3,2,6],[12,6,7,8]]

max_elm=0
row_no=len(list_2D)
col_no=len(list_2D[0])

# find maximum element in 2d list
for i in range(row_no):
         for j in range(col_no):
                  if list_2D[i][j]>max_elm:
                       max_elm=list_2D[i][j]  
                    
print('maximum elment:',max_elm)

maximum elment: 12

Q-15 create a program that removes all occurances of a specific element

In [68]:
# remove all occurance of specific element
def remove_item(l1,item):
        c=l1.count(item)
        for i in range(c):
            l1.remove(item)
        return l1

#create a list    
l1=[1,4,3,7,6,9,3,2,2,4]

#print the result
print(remove_item(l1,3))

[1, 4, 7, 6, 9, 2, 2, 4]

Q-16 Develop a program that generates a multiplication table for number 1 to 5

In [39]:
for i in range(1,6):
        for j in range(1,11):
              print(i*j,end=' ')
        print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

Q-17 write a program that converts a list of fahrenheit temp to celcius

In [3]:
#list of fahrenheit temp
fah_li=[10,20,30,40]

#empty list to store celcius temp
cal_li=[]

#converts a list of fahrenheit temp to celcius
for f in fah_li:
         c=(f-32)*5/9
         cal_li.append(c)
            
#print the result            
print('list of celcius temp:')            
print(cal_li)

list of celcius temp:
[-12.222222222222221, -6.666666666666667, -1.1111111111111112, 4.444444444444445]

Q-18 create a program that prints the common elements from two list

In [5]:
#create two list
l1=[2,4,6,8]
l2=[3,4,7,8]

#print the common element
print('common elements :')
for i in l1:
      if i in l2:
            print(i,end=' ')

common elements :
4 8

Q-19 Develop a program that prints the pattern of right angled trangles

In [9]:
for i in range(1,10):
            for j in range(i):
                  print('*',end=' ')
            print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

Q-20 write a program to find the GCD of two numbers

In [28]:
num1=36
num2=60
gcd=1

# GCD of two numbers
for i in range(1,min(num1,num2)):
                    if num1%i==0 and num2%i==0:
                              gcd=i
print('GCD of',num1,'and',num2,'is',gcd)

GCD of 36 and 60 is 12

Advanced level

Q-21 create a program that calculates the sum of the digits of numbers in a list

In [51]:
li=[1,2,3,4,6,7]

#sum of the digits of numbers in a list
a=sum([i for i in li])
print('sum of list element: ',a)

sum of list element:  23

Q-22

In [74]:
def isprime(n):
        num1=0
        for i in range(2,int(n/2)+1):
               if n%i==0:
                    num1=1 
        if num1==0:
             return True
        else:
             return False
            
num=int(input('enter any number'))  
print('prime factors of num:')
for i in range(1,int(num/2)+1):
                if num%i==0:
                     if isprime(i):
                            print(i)

enter any number 78

prime factors of num:
1
2
3
13

Q-23 develop a program that extracts unique elements from a list and store them 
     in a new list

In [69]:
li=[1,2,3,4,6,3,7,7]

s=set(li)

uni_elm=[i for i in s]
print('unique elements :',uni_elm)

unique elements : [1, 2, 3, 4, 6, 7]

Q-24

In [71]:
def ispalindrom(n):
        if str(n)==str(n)[::-1]:
            return True
        else:
            return False 
        
#create a empty list        
li=[]  

# add palindromic no in list
for i in range(1,200):
         if ispalindrom(i):
                  li.append(i)
                
#print the result                
print('palindromic no :',li)

palindromic no : [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

Q-25

In [72]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Q-26

In [61]:
li=[1,2,3,4,6,7,8]

even_li=[i for i in li if i%2==0]
print('list of even numbers:',even_li)

odd_li=[i for i in li if i%2!=0]
print('list of odd numbers:',odd_li)

list of even numbers: [2, 4, 6, 8]
list of odd numbers: [1, 3, 7]

Q-27

In [64]:
li=[1,2,3,4,5,6,7,8,9,10]

# square of odd numbers
squ_li=[i*i for i in li if i%2!=0]

#print the result
print('list of squrae of odd num :',squ_li)

list of squrae of odd num : [1, 9, 25, 49, 81]

Q-28

In [72]:
#create list
test_keys=['a','b','c']
test_values=[1,2,3]

#combine two list into a dictionary
{test_keys[i]: test_values[i] for i in range(len(test_keys))}

{'a': 1, 'b': 2, 'c': 3}

Q-29

In [66]:
str1='pwskill apple'
vowel='aeiouAEIOU'

[ i for i in str1 if i in vowel]

['i', 'a', 'e']

Q-30

In [69]:
str1='pw12ll89'

# add only numeric charcter
[int(i) for i in str1 if i.isnumeric()]

[1, 2, 8, 9]

challenge level

Q-31

In [19]:
def prime_eratosthenes(n):
        prime_list=[]
        for i in range(2, n+1):
            if i not in prime_list:
                print (i,end=',')
                for j in range(i*i,n+1,i):
                            prime_list.append(j)
        
print(prime_eratosthenes(100))

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,None

Q-32

In [3]:
def pythagrotriplet(limits):
        c,m=0,2
        
        while c<limits:
                for n in range(1,m):
                    a=m*m - n*n
                    b=2*n*m
                    c=m*m+n*n
                    
                    if c>limits:
                        break
                    print(a,b,c)   
                m+=1          
limit=20
print('pythagorean Triplets:')
pythagrotriplet(limit)

pythagorean Triplets:
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

Q-33

In [5]:
list1=['a','b','d']
list2=[1,4,6]

# all possible combination of list1 and list2
unique_combination=[]
for i in range(len(list1)):
         for j in range(len(list2)):
                   unique_combination.append((list1[i],list2[j]))
print(unique_combination)

[('a', 1), ('a', 4), ('a', 6), ('b', 1), ('b', 4), ('b', 6), ('d', 1), ('d', 4), ('d', 6)]

Q-34

In [8]:
import statistics
li=[2,3,4,6,7,8,8]
l=len(li)
mean_li=statistics.mean([i for i in li])
print('mean of list',mean_li)

median_li=statistics.median([i for i in li])
print('median of list',median_li)

mode_li=statistics.mode([i for i in li])
print('mode of list',mode_li)

mean of list 5.428571428571429
median of list 6
mode of list 8

Q-35

In [76]:
def fact(n):
            fact=1
            for j in range(1,n+1):
                 fact*=j  
            return fact


no=int(input('enter the no of rows'))

for i in range(no):
        for j in range(no-i+1):
             #for left spacing
                print(end=' ')
        for j in range(i+1):
                 print(fact(i)//(fact(j)*fact(i-j)),end=' ')
        print()

enter the no of rows 6

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

Q-36

In [8]:
# create a empty list
li=[]

# store the factorial in a list
for i in range(1,6):
            fact=1
            for j in range(1,i+1):
                 fact*=j  
            li.append(fact)       
            
# find sum of digit of factorial            
sum1= sum([int(j) for i in li for j in str(i)])
              
print(sum1)

18

Q-37

In [38]:
#create a sentence
sen='my name is srishti'

# convert string to list
li=list(sen.split(' '))

#find the longest in list
longest=li[0]
for i in li:
        if len(i)>len(longest):
            longest=i
print('longest string in sentence :',longest)

longest string in sentence : srishti

Q-38

In [4]:
# Input list of strings
strings = ["hello", "saicharan", "python", "programming", "aardvark"]

# Function to count vowels in a string
def count_vowels(string):
    vowels = "AEIOUaeiou"
    return sum(1 for char in string if char in vowels)

# Use list comprehension to filter strings with more than three vowels
filtered_strings = [string for string in strings if count_vowels(string) > 3]

# Print the filtered list of strings
print("Original list of strings:", strings)
print("Filtered list with more than three vowels:", filtered_strings)

Original list of strings: ['hello', 'saicharan', 'python', 'programming', 'aardvark']
Filtered list with more than three vowels: ['saicharan']

Q-39

In [1]:
#sum of digit of a numbers
list_sum=sum([i for i in range(1,1001)])

#print the result
print('sum of digit:',list_sum)

sum of digit: 500500

Q-40

In [14]:
def ispalindrom(num):
        if str(num)==str(num)[::-1]:
                   return True
        else:
                  return False
li=[]           
for i in range(1,1000):
            n=0
            for j in range(2,int(i/2)+1):
                  if i%j==0:
                    n=1 
            if n==0:
                 if ispalindrom(i):
                         li.append(i)    
print('list of prime palindronic number ',li)

list of prime palindronic number  [1, 2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]