# string based problems

Q-1 write a program to reverse a string

In [1]:
# create a string
str='pwskill'
# reverse the string using string slicing
rev_str=str[::-1] 

#print the result
print(rev_str)

llikswp

Q-2 check if string is a palindrom

In [3]:
# create a string
str='madam'
print('original string :',str)
# reverse the string using string slicing
rev=str[::-1]

# check if oringinal string and reverse string are same then it is palindrom
if str==rev:
    print('string is palindrom')
else:
    print('string is not palindrom')

original string : madam
string is palindrom

Q-3 convert a string to uppercase

In [5]:
# create a string
str='Pwskill'
print('original string:',str)
#convert oringinal string in uppercase letters by using upper() method
str1=str.upper()

#print the result
print('uppercase string :',str1)

original string: Pwskill
uppercase string : PWSKILL

Q-4 convert a string to lowercase

In [6]:
# create a string
str='PwskiLL'
print('original string:',str)
#convert oringinal string in lowercase letters by using lower() method
str1=str.lower()

#print teh result
print('losercase string: ',str1)

original string: PwskiLL
losercase string:  pwskill

Q-5 count the number of vowels in a string

In [8]:
# create a string 
sen='this is good'
print('string :',sen)
# count variable counts the number of vowels in a string
count=0
# count the vowels
for s in sen:
        if (s=='a' or s=='i' or s=='e' or s=='o' or s=='u'or s=='A' or s=='E' or s=='I' or s=='O'or s=='U'):
            count=count+1

# print the result            
print("there are ",count," vowel")

string : this is good
there are  4  vowel

Q-6 count the number of consonants in a string

In [14]:
# create a string 
sen='this is good'
# count variable counts the number of conosonants in a string
count=0
for s in sen:
        if (s=='a' or s=='i' or s=='e' or s=='o' or s=='u'or s=='A' or s=='E' or s=='I' or s=='O'or s=='U'):
            count=count+0
        else:
            count=count+1
print("there are ",count," consonants")

there are  8  consonants

Q-7 remove all whitespaces from a string

In [9]:
# create a string
str='this is pen'
print('original string :',str)
# repalce space with ''
rem=str.replace(' ','')

#print the result
print('modified string:',rem)

original string : this is pen
modified string: thisispen

Q-8 find the length of a string without using the len() function

In [11]:
# create a string
str='pwskill'

# count counts the length of string
count=0

# count the length
for s in str:
    count=count+1

# print the result    
print('length of the string = ',count)

length of the string =  7

Q-9 check if a string contains a specific word

In [2]:
# create a string
str='this is my home'
# a word which is check as substring of string
substr='my'

# check if str contains substr or not
if substr in str:
    print('this is present')
else:
    print('this is not present')

this is present

Q-10 replace a word in a string wuth another word

In [12]:
# create a string
str='this is table'
print('original string :',str)

# replace any word with specific word by using replace()
str1=str.replace('this','that')

# print the result
print('modified str- ',str1)

original string : this is table
modified str-  that is table

Q-11 count the occurance of word in a string

In [13]:
# input any string
str=input('enter a string')

# the word  whose count the occurance 
word=input('enter a word-')

#count the occurance
times=str.count(word)

#print the result
print(times,' times ')

enter a string 'this is my car and this is blue'
enter a word- this

2  times

Q-12 find the first occurance of a word in a string

In [17]:
# input any string
str=input('enter any string :')
# the word  whose count the occurance 
word=input('enter a word-')
# find the first index of occurance
index=str.find(word)

if index==-1:
    print('this is not present')

#print the result
print(index)

enter any string : this is my car and this is blue
enter a word- this

0

Q-13 find the last occurrence of a word in a string

In [18]:
# input any string
str=input('enter any string :')

# the word  whose count the occurance 
word=input('enter a word-')
# find the last index of occurance
index=str.rfind(word)

if index==-1:
       print('this is not present')
print(index)

enter any string : this is my car and this is blue
enter a word- blue

27

Q-14 split a string into a list of words

In [19]:
str='this is book'
#  split a string into a list using split() method
splt=str.split(' ')

# print the result
print(splt)

['this', 'is', 'book']

Q-15 join a list of words into a string

In [20]:
# create a list
li=['mango','apple','banana']
# create a empty string
str=' '

# add list elements into string
for i in li:
    str=str+i+' '
#print the result    
print(str)

 mango apple banana

Q-16 convert a string where words are separated by spaces to one where words
     are separated by underscore

In [23]:
str='this is pen'
# replace space with underscore
underscore_separated = str.replace(" ", "_")

# print the result
print(underscore_separated)

this_is_pen

Q-17 check if a string starts with a specific word or phase

In [24]:
str='this is pen'
word=input('enter a word to check')
# check string start with this word
x=str.startswith(word)
#print the result
print(x)

enter a word to check this

True

Q-18 check if a string ends with a specific word or phase

In [25]:
str='this is pen'

word=input('enter a word to check')
# check string ends with this word
x=str.endswith(word)

#print the result
print(x)

enter a word to check pen

True

Q-19  Convert a string to title case (e.g., "hello world" to "Hello World").

In [27]:
str='hello world'

# by using title method convert the string 
str1=str.title()

print('titlecase string: ',str1)

titlecase string:  Hello World

Q-20 find the longest word in a string

In [8]:
def find_longest_word(sentence):
    words=sentence.split() #split the sentence into words
    longest_word=''
    for word in words:
        if len(word)>len( longest_word):
             longest_word=word
        
    return  longest_word
 # get input from the user
sentence=input('Enter a sentence: ')

#call the function to find largest word
longest_word=find_longest_word(sentence)

#print the result
print('the longest word in the sentence is :',longest_word)

Enter a sentence:   this is apple , this is banana

the longest word in the sentence is : banana

Q-21 find the shortest word in a string

In [14]:
def find_shortest_word(sentence):
    words=sentence.split() #split the sentence into words
    shortest_word=words[0]
    for word in words:
        if len(word)<len(shortest_word):
             shortest_word=word
        
    return  shortest_word
 # get input from the user
sentence=input('Enter a sentence: ')

#call the function to find shortest word
shortest_word=find_shortest_word(sentence)

#print the result
print('the shortest word in the sentence is :',shortest_word)

Enter a sentence:  this is my car

the shortest word in the sentence is : is

Q-22 Reverse the order of words in a string

In [29]:
str='hello world'
print('original string :',str)
# reverse the order of words
rev=str[::-1]

#print the result
print('reverse order of string :',rev)

original string : hello world
reverse order of string : dlrow olleh

Q-23 check if a string is alphanumeric

In [30]:
str='pwskill10'

# check if string contains only alphanumeric character
is_digit=str.isalnum()

#print the result
print(is_digit)

True

Q-24 Extract all digits from a string

In [18]:
def extract_digit(input_string):
  digits=[]
  for char in input_string:
     if char.isdigit():
        digits.append(char)
  return digits

#get the input from user
input_string=input('Enter a string: ')

#call the function to extract digits

digit_list=extract_digit(input_string)

print('Extracted digits: ',str(digit_list))

Enter a string:   there are 2 apple for 4 people

Extracted digits:  ['2', '4']

Q-25 Extract all alphabets from a string

In [3]:
def extract_digit(input_string):
  digits=[]
  for char in input_string:
     if char.isalpha():
        digits.append(char)
  return digits

#get the input from user
input_string=input('Enter a string: ')

#call the function to extract 

digit_list=extract_digit(input_string)
print('Extracted digits: ',str(digit_list))

Enter a string:   there are 2 apple for 4 people

Extracted digits:  ['t', 'h', 'e', 'r', 'e', 'a', 'r', 'e', 'a', 'p', 'p', 'l', 'e', 'f', 'o', 'r', 'p', 'e', 'o', 'p', 'l', 'e']

Q-26 count the number of uppercase letters in a string

In [4]:
str=input('Enter a sentence')
# store the count of uppercase letter
count=0

#count the uppercase letters
for i in str:
    if i.isupper():
        count+=1
# print the count        
print('there are total ',count,' uppercase')

Enter a sentence 'This is Good and This is Bad'

there are total  4  uppercase

Q-27 count the number of lowercase letters in a string

In [6]:
str=input('Enter a sentence: ')
count=0
# count the lowercase letter
for i in str:
    if i.islower():
        count+=1
# print the count        
print('there are total ',count,' lowercase')

Enter a sentence:  This is Good and This is Bad

there are total  18  lowercase

Q-28 swap the case of each character in a string

In [2]:
def swap_string(input_str):
        str2=input_str.swapcase()
        return str2
input_str=input('input any string')  

result=swap_string(input_str)
print(result)

input any string heLloWorld

HElLOwORLD

Q-29 Remove a specific word from string

In [9]:
str=input('Enter a sentence:')
word=input('Enter a word that you want to remove:')

# repalce word to no space
str1=str.replace(word,'')
print('after remove a word: ',str1)

Enter a sentence: my name is srishti
Enter a word that you want to remove: name

after remove a word:  my  is srishti

Q-30 check if a string is a valid email address

In [3]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

Q-31 Extract the username from an email addess string

In [5]:
def extract_username(email):
    username = email.split('@')[0] # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

Q-32 Extract the domain name from an email addess string

In [1]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

Q-33 Replace multiple spaces in a string with single space

In [12]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

'Hello world! How are you?'

Q-34 check if a string is a valid URL

In [13]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

Q-35 Extract the protocol from a URL string

In [32]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)     

print(protocol1)
print(protocol2)

https
http

Q-36 find the frequency of each character in a string

In [25]:
def count_freq(input_str):
    frequency={} # create a empty dictionary
          
    for i in input_str:
        if i in frequency:
              frequency[i]+=1 # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[i] = 1 # Initialize the frequency count to 1 if the character is not in the dictionary

    return  frequency          
#create a string
input_str = "hello world"

#call the function
char_freq =count_freq(input_str)

# print the result
for i,count in char_freq.items() :
                       print('charcter',i,' ','frequency ',count)

charcter h   frequency  1
charcter e   frequency  1
charcter l   frequency  3
charcter o   frequency  2
charcter     frequency  1
charcter w   frequency  1
charcter r   frequency  1
charcter d   frequency  1

Q-37 Remove all punctuation from a string

In [39]:
import string

def remove_punc(input_str):
            # Create a translation table to remove punctuation
                translator=str.maketrans("","",string.punctuation)
            
             # Use the translation table to remove punctuation from the input string
                clean_str=input_str.translate(translator)
                return clean_str

# create a string
input_str= "Hello, world! How's it going?"

#call the function
cleaned_str=remove_punc(input_str)

#print the result
print('original string: ',input_str)
print('modified string: ',cleaned_str)

original string:  Hello, world! How's it going?
modified string:  Hello world Hows it going

Q-38 check if a string contains only digits

In [4]:
#input a string
str=input('Enter a sentence:')

# check if string contains only digit
if str.isdigit():
    print('the string contains only digit')
else:
    print('not only digit')

Enter a sentence: 1234

the string contains only digit

Q-39 check if a string contains only alphabets

In [6]:
#input a string
str=input('Enter a sentence:')

# check if string contains only alphabets
if str.isalpha():
    print('the string contains only alphabet')
else:
    print('not only alphabet')

Enter a sentence: pwskill12

not only alphabet

Q-40 convert a string to a list of character

In [8]:
str=input('Enter a sentence:')
#create a list
li=[]
#convert string to list
for i in str:
    li.append(i)
print('string to list: ',li)

Enter a sentence: pwskill

string to list:  ['p', 'w', 's', 'k', 'i', 'l', 'l']

Q-41 check if two strings are anagrams

In [35]:
#enter input strings
str1=input('enter 1string:')
str2=input('enter 2string:')

#convert into lowercase and sort
str1=sorted(str1.lower())
str2=sorted(str2.lower())
#strings are anagram or not
if(str1==str2):
    print('strings are anagram')
else:
    print('not anagram')

enter 1string: mango
enter 2string: goman

strings are anagram

Q-42 Encode a string using caser cipher

In [29]:
def encrypt(inputText,s):
    result = ""
 
    # traverse text
    for i in range(len(inputText)):
        char = inputText[i]
 
        # Encrypt uppercase characters
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
 
        # Encrypt lowercase characters
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
 
    return result
 
#check the above function
text = "CELESTY"
s = 4
print ("Text  : " + inputText)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

SyntaxError: invalid non-printable character U+00A0 (662694739.py, line 20)

Q-43 Decode a caesar cipher encoded string

In [14]:
def caesar_cipher_decoder(text, shift):

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

Q-44 find the most frequent word in a string

In [34]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

Q-45 find all unique words in a string

In [35]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'world', 'the', 'hello', 'hows', 'there'}

Q-46 connt the number of syllables in a strings

In [36]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

Q-47 check if a string contains any special character

In [37]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

Q-48 Remove the nth word from a string

In [38]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4
# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

Q-49 insert a word at the nth position in a string

In [39]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4
# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

Q-50 convert a a csv string to a list of lists

In [40]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List based practice problem

Q-1 create a list with integers from 1 to 10

In [41]:
#create a list from 1 to 10
li=[]

# add elements into list
for i in range(1,11):
        li.append(i)
        
#print the list        
print('list: ',li)

list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q-2 find the length of a list without using len() function

In [19]:
#create a list
li=[1,2,3,4,5,6,9,10]
count=0
#find the length of string
for i in li:
    count+=1

# print the result    
print('length of the list: ',count)

length of the list:  8

Q-3 Append an element to the end of a list

In [42]:
# create a list
li=[20,'pwskill',True]

#input a element to add
element=input('enter a element: ')

# append a element to end of a list
li.append(element)
print('list :',li)

enter a element:  good

list : [20, 'pwskill', True, 'good']

Q-4 insert an element at a specific index by its value

In [43]:
#create a list
li=[10,'mango',20.90]

# insert at specific index
li.insert(2,'pwskill')
#print the result
print(li)

[10, 'mango', 'pwskill', 20.9]

Q-5 Remove an element from a list by its value

In [44]:
#create a list
li=[10, 'mango', 'pwskill', 20.9]
# delete an element from list  by its value
li.remove('mango')

#print the result 
print(li)

[10, 'pwskill', 20.9]

Q-6Remove an element from a list by its index

In [1]:
#create a list
li=[10, 'mango', 'pwskill', 20.9]
 
# remove an element from a list by its index
li.pop(3)

#print the result
print(li)

[10, 'mango', 'pwskill']

Q-7 check if an element exists in a list

In [4]:
#crate a list
li=[1,2,3,4,6,7,8]

# the element that check
i=int(input('input element that would be check'))
# check if element exits or not
if i in li:
    print('exits')
else:
    print('not exits')

input element that would be check 8

exits

Q-8 find the index of the first occurrence of in a list

In [12]:
#create a list
li=[1,2,3,4,6,7,8,7,7]

num=int(input('enter the element'))
# find the index of first occurance of element
a=li.index(num)
print('the occurance of this index :',a)

enter the element 7

the occurance of this index : 5

Q-9 count the occurrences of an element in a list

In [30]:
li=[1,2,3,8,6,7,8,7,7]
# the element for which count the occurance
num=int(input('enter the element'))
occ=li.count(num)

print('the occurance of ',num,'is ',occ)

enter the element 8

the occurance of  8 is  2

Q-10 Reverse the order of an element in a list

In [31]:
#create a list
li=[1,2,'name',True,7,8,9]

# reverse the list by using reverse function
li.reverse()
#print the result
print(li)

[9, 8, 7, True, 'name', 2, 1]

Q-11 sort a list in ascending order

In [45]:
li=[2,1,3,9,8,7,5,6]
 # sort the list in ascending order
li.sort()

print(li)

[1, 2, 3, 5, 6, 7, 8, 9]

Q-12 sort a list in descending order

In [34]:
li=[2,1,3,9,8,7,5,6]
 
# sort the list in descending order
li.sort(reverse=True)

print(li)

[9, 8, 7, 6, 5, 3, 2, 1]

Q-13 create a list of even numbers from 1 to 20

In [46]:
#create a empty list
li=[]
i=2
# add even numbers is list
while i<=20:
    li.append(i)
    i=i+2 # move forword by two steps

print('list of even numbers',li)

list of even numbers [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q-14 create a list of even numbers from 1 to 20

In [48]:
#create a empty list
li=[]
i=1
# add odd numbers is list
while i<=20:
    li.append(i)
    i=i+2 # move forword by two steps
print('list of odd numbers:',li)

list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q-15 find the sum of all elements in a list

In [41]:
li=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
# find sum all the element in list
sum=0
for i in li:
    sum+=i
#print the result    
print('the sum of element:',sum)

the sum of element: 110

Q-16 find the maximum value in a list

In [49]:
li=[6,7,8,9,4,3,2,1]
# initilize max with first index of list
max=li[0]

# find max element in list
for i in li:
    if i>max:
        max=i
print('the max element :',max)

the max element : 9

Q-17 find the minimum value in a list

In [50]:
li=[6,7,8,9,4,3,2,1]
# find min element in list
min=li[0]
for i in li:
    if i<min:
        min=i
print('the minimun element :',min)

the minimun element : 1

Q-18 create a square of numbers from 1 to 10

In [1]:
#create a empty list
li=[]
i=1
# list of square of num 1 to 10
while i<=10:
    li.append(i*i)
    i+=1
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q-19 create a list of random numbers

In [56]:
import random

#create a empty list
li=[]
# add random numbers to list
for i in range(10):
      li.append(random.randint(1,100))
        
print(li)

[20, 31, 25, 7, 66, 78, 66, 1, 52, 92]

Q-20 Remove duplicates from a list

In [37]:
li=['a','b','c','d','a','b']

# remove duplicates from list
mylist=list(dict.fromkeys(li))

print(mylist)

['a', 'b', 'c', 'd']

Q-21 Find the common elements between two lists.

In [39]:
l1=['a',2,'b',3,4,'c']
l2=['b',4,'d','c',7,8]
 
# common element between two list    
print('common element in l1 & l2 : ')
for i in l1:
    if i in l2:
            print(i,end=' ')

common element in l1 & l2 :
b 4 c

Q-22 Find the difference between two lists.

In [48]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(set(list2)))

print(difference)

[10, 20]

Q-23 Merge two list

In [50]:
l1=['a',2,'b',3,4,'c']
l2=['b',4,'d','c',7,8]

# merge two list

merged_list=l1+l2
# merge two list
print(merged_list)

['a', 2, 'b', 3, 4, 'c', 'b', 4, 'd', 'c', 7, 8]

Q-24. Multiply all elements in a list by 2.

In [2]:
li=['a',1,'b',4,'c']

# mutiply list by 2
multiplied_list = [x * 2 for x in li]

#print the result
print(multiplied_list)

['aa', 2, 'bb', 8, 'cc']

Q-25 filter out all even numbers from a list

In [22]:
li=[1,2,4,5,7,8,9,4,21,24,78]
l2=[]
# find the even num
for i in li:
    if i%2==0:
        l2.append(i)
print('even numbers are : ',l2)

even numbers are :  [2, 4, 8, 4, 24, 78]

Q-26 convert a list of strings to a list of integer

In [3]:
list_str=['1','2','3','4','6','7']
list_int=[]

#covert all elements in list to int
for i in list_str:
    list_int.append(int(i))

print(list_int)

[1, 2, 3, 4, 6, 7]

Q-27 convert a list of integer to a list of strings

In [4]:
list_int=[1, 2, 3, 4, 6, 7]
list_str=[]

#covert all elements in list to str
for i in list_int:
    list_str.append(str(i))
print(list_str)

['1', '2', '3', '4', '6', '7']

Q-28 flatten a nested list

In [5]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Q-29 create a list of the first 10 fibonacci numbers

In [6]:
# create a empty list
sum=[]
n=0
#find the 10 fibonacci no
while n<=10 :
      if (n==0 or n==1):
        sum.append(n)
        n=n+1
      else:
         sum.append(sum[n-1]+sum[n-2])
         n=n+1    
        
#print the result         
print('fibonacci num: ',sum)

fibonacci num:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Q-30 check if a list is sorted

In [24]:
l1=[1,2,8,4,5,6,7]
# find the length of list
ran=len(l1)-1
for i in range(ran):
    if l1[i]<=l1[i+1]:
        n=0
    else:
        n=1
        break
# check it is sorted or not        
if n==1:
    print('not sorted')
else:
    print('sorted')

not sorted

Q-31 Rotate a list to the left by 'n' positions

In [6]:
li=[1,2,3,4,6,7,8]
# enter how much  left rotation 
n=int(input('how much left rotation: '))

#create a empty list
arr=[]
# rotate the list by n position
for i in range(n):
     arr.append(li[i])
for i in range(n,len(li)-1):
      li[i-n]=li[i]
for i in range(n):
    li.append(arr[i])
    
print('after rotation:',li)

how much left rotation:  2

after rotation: [3, 4, 6, 7, 6, 7, 8, 1, 2]

Q-32 Rotate a list to the right by 'n' positions

In [7]:
li=[1,2,3,4,6,7,8]
# enter how much right rotation 
n=int(input('how much right rotation: '))
l=len(li)-n-1

#create a empty list
arr=[]
# rotate the list by 'n' right position
for i in range(l,len(li)):
     arr.append(li[i])
for i in range(n,len(li)-1):
      li[i]=li[i-n]
for i in range(n):
    li.insert(i,arr[i])
    
print('after rotation:',li)

how much right rotation:  2

after rotation: [6, 7, 1, 2, 1, 2, 1, 2, 8]

Q-33 create a list of prime numbers upto 50

In [9]:
# create a empty list
li=[]

# find the prime no upto 50
for n in range(50):
    l=1
    if n>1:
        for i in range(2,int(n/2)+1):
            if( n%i)==0:
                l=0
                break
            
    if l==1:
        li.append(n)
print('prime no: ',li)

prime no:  [0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q-34 split a list into chunks of size 'n'

In [10]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q-35 find the second largest number in a list

In [54]:
l1=[6,7,8,29,2,14,26,30]
# sort the list
l1.sort()
# greatest element at last index  and so second largest just before that 
sec_largest=l1[len(l1)-2]
print('the second largest no :',sec_largest)

the second largest no : 29

Q-36 Replace every element in a list with its square

In [69]:
l1=[6,7,8,9,2,3,4]
#length of list l1
l2=len(l1)
# replace the element with its square
for i in range(l2):
        a=l1.pop(i)
        l1.insert(i,a*a)
print('modified list: ',l1)

modified list:  [36, 49, 64, 81, 4, 9, 16]

Q-37 convert a list to a dictionary where list elements becomes keys and
their indices becomes values

In [17]:
#create a empty dictionary
dic={}
#create a list
li=[6,7,8,9]

#find the length of list
l=len(li)

#add elements in dict
for i in range(l):
      dic[li[i]]=i
#print the result        
print(dic.items())

dict_items([(6, 0), (7, 1), (8, 2), (9, 3)])

Q-38 shuffle the elements of a list randomly

In [19]:
import random
li=[1,2,3,4,6,7,8]

#shuffle the list randomly
random.shuffle(li)

#print the result
print(li)

[8, 3, 2, 7, 6, 1, 4]

Q-39 create a list of the first 10 factorial numbers

In [5]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Q-40 check if two lists have at least one element in common

In [14]:
l1=[2,3,4,6,7,8]
l2=[1,2,7,8,9,10]
n=0
# check there is at least one common element
for i in l1:
        if i in l2:
            n=1
            break
if n==1:
    print('yes there is a common element')  
else:
    print('yes there is a common element')

yes there is a common element

Q-41 Remove all elements from a list

In [15]:
l1=[2,3,4,6,7,8]
# remove all the element from the list
l1.clear()
#print the result
print(l1)

[]

Q-42 Replace negative number in a list with 0

In [24]:
# create a list
l1=[2,3,-4,6,7,-1,-9]
#find the length of list l1
l2=len(l1)

#repalce the negative num with 0
for i in range(l2):
       if l1[i]<0:
            l1.pop(i)
            l1.insert(i,0)

#print the result            
print(l1)

[2, 3, 0, 6, 7, 0, 0]

Q-43 convert a string into a list of words

In [25]:
str='pwskill'
#create a empty list
li=[]
#convert string into list of words
for i in str:
    li.append(i)
#print the result    
print('list :',li)

list : ['p', 'w', 's', 'k', 'i', 'l', 'l']

Q-44 convert a list of words into a string

In [27]:
li=['my','name','is','ritik']
str=''
#convert list into string
for i in li:
    str=str+i+' '
    
#print the result
print(str)

my name is ritik

Q-45 create a list of the 'n' powers of 2

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

Q-46 find the longest string in a list of string

In [42]:
# create a list
li=['my','name','is','gaurav']
# find the longest string in a list of string
l=len(li[0])
#initilize longest to first index
longest=li[0]
for i in li:
        a=len(i)
        if l<a:
            longest=i    # length of i greater than longest so add i to longest
        
#print the result        
print('longest word in list: ',longest)

longest word in list:  gaurav

Q-47 find the shortest string in a list of string

In [43]:
# create a list
li=['my','name','is','gaurav']
# find the shortest string in a list of string
l=len(li[0])
#initilize shortest to first index
shortest=li[0]
for i in li:
        a=len(i)
        if l>a:
            shortest=i    # length of i greater than shortest so add i to shortest
        
#print the result        
print('shortes word in list: ',shortest)

shortes word in list:  my

Q-48 create a list of the first 'n' triangular numbers

In [44]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

Q-49 check if a list contains another list as a subsequence

In [50]:
# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5,8]

# length of subsequence
a=len(subsequence)

#this index store the no of element common in both list
index=0
#find the no of element common in both list
for i in subsequence:
     if i in main_list:
            index+=1
# check if  subsequence length is equal to  no of element common in both list it means Main list contains the subsequence 
if index==a:     
       print('Main list contains the subsequence')
else:
       print('Main list does not contains the subsequence')

Main list contains the subsequence

Q-50 swap two elements in a list by their indices

In [51]:
# create a list
li=[1,2,3,4,6,7,8]

# swap the element of that indices
i=int(input('enter 1 index'))
j=int(input('enter 2 index'))

#swap the element in given indices
temp=li[i]
li[i]=li[j]
li[j]=temp

#print the result
print(li)

enter 1 index 2
enter 2 index 6

[1, 2, 8, 4, 6, 7, 3]

# Tuple based practice problem:

In [1]:
# Q-1 create a tuple with integer from 1 to 5

#create a tuple
tup=(1,2,3,4,5)

#print the tuple
print(tup)

(1, 2, 3, 4, 5)

In [2]:
# Q-2 Access the third element of tuple

#create a tuple
tup=(1,2,3,4,5)
# third element of tuple
tup[2]

#print the result
print(tup[2])

3

In [7]:
# Q-3 Find the length of a tuple without using the `len()` function.

tup=(1,2,3,4,5,'pw','skill')

# stores the length of tuple
count=0

#find the length of tuple
for i in tup:
       count+=1
#print the result        
print('length of tuple :',count)

length of tuple : 7

In [14]:
#Q-4 Count the occurrences of an element in a tuple.
tup=(1,2,3,4,5,'pw','skill',3,4)

elem_to_count=4
# count the occurance of 4
a=tup.count(elem_to_count)

print(' the occurrences of an element in a tuple ',a)

 the occurrences of an element in a tuple  2

In [21]:
# Q-5 Find the index of the first occurrence of an element in a tuple.
tup=(1,2,3,4,5,'pw','skill',3,4)
elm_to_find=4
# first occurance of 4
a=tup.index(elm_to_find)
 
#print the result
print('the first index is ',a)

the first index is  3

In [22]:
# Q-6 Check if an element exists in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [1]:
# Q-7 convert tuple to list
tup=(1,2,3,4,5,'pw','skill',3,4)

# convert tuple to list 
li=list(tup)
# print the result
print(li)

[1, 2, 3, 4, 5, 'pw', 'skill', 3, 4]

In [2]:
# Q-8 convert list to tuple
li =[1, 2, 3, 4, 5, 'pw', 'skill', 3, 4]

# convert list to tuple
tup=tuple(li)

#print the result
print(tup)

(1, 2, 3, 4, 5, 'pw', 'skill', 3, 4)

In [4]:
# Q-9 unpack the elements of a tuple into variables

# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [3]:
# Q-10 create a tuple of even num from 1 to 10
#create a empty list
l=[]

# add even num in list
for i in range(1,11):
       if (i%2==0):
             l.append(i)
# convert list into tuple                                
t=tuple(l)   
print(t)

(2, 4, 6, 8, 10)

In [5]:
# Q-11 create a tuple of odd num from 1 to 10
# create a empty list
l=[]

#add odd num in list
for i in range(1,11):
       if (i%2!=0):
             l.append(i)
# convert list into tuple                                
t=tuple(l)   
print(t)

(1, 3, 5, 7, 9)

In [6]:
# Q-12 concatenate two tuples
# create a two tuple
t1=(1,2,3,4,6,7)
t2=(8,9,10,11)
#concatenate this tuples
print(t1 + t2)

(1, 2, 3, 4, 6, 7, 8, 9, 10, 11)

In [7]:
# Q-13 repeat a tuple three times
t1=(1,2,3,4,6,7)
# mutiply tuple by 3
a=t1*3
#print the result
print(a)

(1, 2, 3, 4, 6, 7, 1, 2, 3, 4, 6, 7, 1, 2, 3, 4, 6, 7)

In [11]:
# Q-14 check if a tuple is empty
#create an empty tuple
my_tuple=()

# using len() fun
len_tuple=len(my_tuple)

if len_tuple==0:
    print('list is empty')
else:
     print('list is not empty')

list is empty

In [12]:
# Q-15 create a nested tuple
# create a nested tuple
t=(1,2,3,4,6,7,(8,9))

#print the result
print('nested tuple: ',t)

nested tuple:  (1, 2, 3, 4, 6, 7, (8, 9))

In [13]:
# Q-16 access the first element of nested tuple
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [14]:
# Q-17 create a tuple with a single element

t=('pwskill',)
# print the tuple
print(t)

('pwskill',)

In [15]:
# Q-18 compare two tuples

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [16]:
# Q-19 delete a tuple

t1=(1,2,3,4,6,7)
# del operator delete entire tuple
del t1

print(t1)

NameError: name 't1' is not defined

In [17]:
# Q-20 slice a tuple

tuple1=(1,2,3,4,5,'pw','skill',3,4)
# slice from 0 to 6 indices
sliced_tuple=tuple1[0:6]

#print the result
print(sliced_tuple)

(1, 2, 3, 4, 5, 'pw')

In [4]:
# Q-21 find the maximun value in tuple
t=(1,2,3,4,5,7,9,4)

#find the maximun value by max funtion 
m=max(t)

#print the result
print('maximum value in tuple: ',m)

maximum value in tuple:  9

In [6]:
# Q-22 find the minimum value in tuple
t=(1,2,3,4,5,7,9,4)
#  find the minimum value by min funtion 
m=min(t)

#print the result
print('minimum value in tuple: ',m)

minimum value in tuple:  1

In [9]:
# Q-23 convert a string to a tuple of characters
#input a string
str=input('enter any string')

#convert string to tuple
t=tuple(str)

#print the result
print('tuple:',t)

enter any string pwskill

tuple: ('p', 'w', 's', 'k', 'i', 'l', 'l')

In [20]:
# Q-24  convert a tuple of characters into string
t=('p', 'w', 's', 'k', 'i', 'l', 'l')

#add tuple element into str1
str1=''.join(t)

#print the result
print(str1)

pwskill

In [14]:
# Q-25 create a tuple from multiple data types
#create a tuple
t=(2,'pwskill',True,20.3)

#print the result
print(t)

(2, 'pwskill', True, 20.3)

In [18]:
# Q-26 check if two tuples are identical
t1=(1,2,3,4,6,7,8)
t2=(1,2,3,4,7,9,8)

# check identical
if t1==t2:
    print('tuples are identical')
else:
     print('tuples are not identical')

tuples are not identical

In [24]:
# Q-27 sort the element of tuple
t1=(1,2,3,4,6,7,8)

# sorted the tuple
sorted_tuple=tuple(sorted(t1))
print('sorted element :',sorted_tuple)

sorted element : (1, 2, 3, 4, 6, 7, 8)

In [3]:
# Q-28 convert a tuple of integers to a tuple of strings

t1=(1,2,3,4,6,7)
#create a empty list
l=[]
#add elements to list from tuple by converting integer to string
for i in t1:
      l.append(str(i))

#convert list to tuple
t2=tuple(l)
        
print(t2)

('1', '2', '3', '4', '6', '7')

In [4]:
# Q-29 convert a tuple of strings to a tuple of integer

t1=('1', '2', '3', '4', '6', '7')
#create a empty list
l=[]
#add elements to list from tuple by converting integer to string
for i in t1:
      l.append(int(i))

#convert list to tuple
t2=tuple(l)
        
print(t2)

(1, 2, 3, 4, 6, 7)

In [11]:
#Q-30 merge to list

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [12]:
# Q-31 flatten a nested list

# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [1]:
# Q-32 create a tuple of the first 5 prime numbers

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [44]:
# Q-33 check if a tuples is a palindrom

#create a tuple
t1=(1,2,3,4,3,2,1)
n=0
i=0
j=len(t1)-1

#check palindrom
while i<=j:
    if t1[i]!=t1[j]:
        n=1
        print('tuple t1 is not palindrom')
        break
    i=i+1
    j=j-1
    
if n==0:
    print('tuple t1 is palindrom')

tuple t1 is palindrom

In [48]:
# Q-34 create a tuple of squares of num from 1 to 5

# first create a list and add into values and then convert into tuple
#create a empty list
l1=[]

#add values in list
for i in range(1,6):
       l1.append(i*i)
         
#convert list into tuple
tuple_1=tuple(l1)
print(tuple_1)

(1, 4, 9, 16, 25)

In [50]:
# Q-35 filter out all even num from a tuple
# create a tuple
tuple_1=(1,2,3,4,6,7,8,9)

# find even num in tuple
for i in tuple_1:
    # even number
    if i%2==0:
        print(i,end=' ')

2 4 6 8

In [2]:
# Q-36 mutiply all elements in a tuple by 2

original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple=tuple(i*2 for i in original_tuple)
             
print(doubled_tuple)

(2, 4, 6, 8, 10)

In [4]:
# Q-37 create a tuple of random num

import random

# Create a tuple of random numbers using a list comprehension
doubled_tuple=tuple(random.randint(1,100) for i in range(10))

print(doubled_tuple)

(62, 21, 18, 53, 46, 37, 3, 90, 79, 46)

In [58]:
# Q-38 check if tuple is sorted
# create a tuple
tuple_1=(1,2,3,4,6,7,8,9)

#sort the tuple
tuple_2=sorted(tuple_1)

# if tuple_1 and tuple_2 is same it means tuple_1 is sorted
if tuple_1==tuple_2:
    print('tuple_1 is sorted')
else:
    print('tuple_1 is not sorted')

tuple_1 is not sorted

In [5]:
# Q-39 Rotate a tuple to the left by 'n' positions

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [7]:
# Q-40 Rotate a tuple to the right by 'n' positions

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    len1=len(tup)
    rotated_tuple = tup[len1-n:] + tup[:len1-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [8]:
# 41 create a tuple of the first 5 fibonacci numbers

n=0
#create a empty list
sum=[]
# first add fibonacci no in list and then convert list to tuple
while n<5 :
      if (n==0 or n==1):
        sum.append(n)
        n=n+1
      else:
         sum.append(sum[n-1]+sum[n-2])
         n=n+1
         
print('fibonacci num: ',sum)   
 # convert list into tuple
    
t=tuple(sum)
t

fibonacci num:  [0, 1, 1, 2, 3]

(0, 1, 1, 2, 3)

In [13]:
# 42 create a tuple from user input
# input the user input
str1=input('enter space-separated words: ')

#convert string into tuple
tup=tuple(str1)

#print the tuple
print(tup)

enter space-separated words:  pwskill

('p', 'w', 's', 'k', 'i', 'l', 'l')

In [22]:
# Q-43 swap two elements in tuple

#create a tuple
tup=(1,2,3,4,5,6)

#convert list to tuple
li=list(tup)
# enter the swap index
index1=int(input('enter the first index'))
index2=int(input('enter the second index'))

# swap the elements
temp=li[index1]
li[index1]=li[index2]
li[index2]=temp

#convert list to tuple
tup2=tuple(li)
#print the result
print(tup2)

enter the first index 2
enter the second index 4

(1, 2, 5, 4, 3, 6)

In [23]:
# Q-44 Reverse the element of tuple

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [26]:
# Q-45 find the tuple of the first 'n' powers of 2

# enter the value of n
n=int(input())

# Create a tuple of the first n powers of 2 using a list comprehension
my_tuple=tuple( 2**i for i in range(n+1))

print("Tuple of the first", n, "powers of 2:", my_tuple)

 4

Tuple of the first 4 powers of 2: (1, 2, 4, 8, 16)

In [27]:
# Q-46 find the longest string in a tuple of strings
 
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [30]:
# Q-47 find the shortest string in a tuple of strings
 
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("shortest string:", shortest_string)

shortest string: kiwi

In [31]:
# Q-48 create a tuple of the first 'n' triangular numbers

# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [33]:
# Q-49 check if a tuple contains another tuple as a subseqences

# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [32]:
# Q-50 create a tuple of alternating 1s and 0s of length 'n'

# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

#  Set based practice problem:

In [12]:
# Q-1 create a set with integer from 1 to 5

#create a set
set_1=set()
# add the element to set
for i in range(1,6):
       set_1.add(i)

print(set_1)

{1, 2, 3, 4, 5}

In [1]:
# Q-2 add the element to set
# craete a set
set_1={1,2,3,4,5}
#element to add
add_to_elm=6
#add the element
set_1.add(add_to_elm)
print(set_1)

{1, 2, 3, 4, 5, 6}

In [15]:
# Q-3 Remove an element from set

set_1={1, 2, 3, 4, 5, 6}

# remove element
set_1.remove(2)

print(set_1)

{1, 3, 4, 5, 6}

In [2]:
# Q-4 check if an element exists in a set

set_1={'apple','bnana','orange','govava'}

if 'apple' in set_1:
    print('Yes')
else:
    print('no')

Yes

In [23]:
# Q-5 find the length of a set without using len() function

set_1={'apple','bnana','orange','govava'}
count=0
for i in set_1:
      count+=1
print('length of string : ',count)

length of string :  4

In [24]:
# Q-6 clear all elements from a set

set_1={'apple','bnana','orange','govava'}

#clear all the element by using clear() 
set_1.clear()

print(set_1)

set()

In [26]:
# Q-7 create a set of even numbers from 1 to 10

#create a empty set
set_1=set()

#add the even elements in a set
for i in range(1,11):
       if (i%2==0):
            set_1.add(i)
            
print('even no: ',set_1)

even no:  {2, 4, 6, 8, 10}

In [28]:
# Q-8 create a set of odd numbers from 1 to 10

#create a empty set
set_1=set()

# add the odd elements in set
for i in range(1,11):
       if (i%2!=0):
            set_1.add(i)
            
print('odd no: ',set_1)

odd no:  {1, 3, 5, 7, 9}

In [10]:
# Q-9 find the union of two sets

# create two sets with some element
set_1={1,2,3,4}
set_2={6,7,8,9}
# print the sets 
print('set 1: ',set_1) 
print('set 2: ',set_2) 

# find union by using union function

find_union=set_1.union(set_2)

# print the union set
print('union of two sets:',find_union)

set 1:  {1, 2, 3, 4}
set 2:  {8, 9, 6, 7}
union of two sets: {1, 2, 3, 4, 6, 7, 8, 9}

In [12]:
# Q-10 find the intersection of two sets

# create two sets with some element
set_1={1,2,3,4,6,7}
set_2={6,7,8,9}
# print the sets 
print('set 1: ',set_1) 
print('set 2: ',set_2) 

# find intersection by using intersection function

find_intersection=set_1.intersection(set_2)

# print the intersection set
print('intersection of two sets:',find_intersection)

set 1:  {1, 2, 3, 4, 6, 7}
set 2:  {8, 9, 6, 7}
intersection of two sets: {6, 7}

In [13]:
# Q-11 find the difference between two sets

# create two sets with some element
set_1={1,2,3,4,6,7}
set_2={6,7,8,9}

# print the sets 
print('set 1: ',set_1) 
print('set 2: ',set_2) 

# find  difference by using intersection function

find_difference=set_1. difference(set_2)

# print the intersection set
print(' difference of two sets:',find_difference)

set 1:  {1, 2, 3, 4, 6, 7}
set 2:  {8, 9, 6, 7}
 difference of two sets: {1, 2, 3, 4}

In [16]:
# Q-12 check if a set is subset of another set

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# the "subset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [19]:
# Q-13 check if a set is superset of another set

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# to check if set2 is superset of set1 using issuperset() method
is_superset = set2.issuperset(set1)

# Print the result
print("Is set1 a superset of set2:", is_superset)

Is set1 a superset of set2: True

In [21]:
# Q-14 create a set from a list

# create a list of integer
li=[1,2,3,4,6,7]
 # convert list to set by using set() method
set1=set(li)

# print the set
print(set1)

{1, 2, 3, 4, 6, 7}

In [22]:
# Q-15 convert a set to list

# create a set of integer
set1={1,2,3,4}

# convert set to list by using list() method

li=list(set1)

#print the list
print(li)

[1, 2, 3, 4]

In [5]:
# Q-16 Remove a random element from a set

import random

my_set={1,2,3,4,6,7}

#choose element to remove randomly
random_element = random.choice(list(my_set))
# remove the element
my_set.remove(random_element)

# print the modified set
print(my_set)

{1, 3, 4, 6, 7}

In [6]:
# Q-17 pop an element from a set

# create a set of integer
my_set={1,2,3,4,6,7}
#pop element from a set
my_set.pop()
# print the elements of set
print(my_set)

{2, 3, 4, 6, 7}

In [7]:
# Q-18 check if two sets have no elements in common

#create a set of integer
set1={1,2,3,4,5,6}
set2={10,7,8,9}

# find common element is set
com_elm=set1.intersection(set2)

# check there is any common element in two sets
if not com_elm:
    print('there is no any common element')
else:
    print('there is common element')

there is no any common element

Q-19 find the symmetric difference between two sets

In [1]:
#create a set of integer
set1={1,2,3,4,5,6}
set2={4,6,7,8,9}

#symmetric difference
sym=set1^set2

print(sym)

{1, 2, 3, 5, 7, 8, 9}

Q-20 upadate a set with elements from another set

In [3]:
set1={1,2,3,4}
set2={3,4,6,7}

#update set1 with set2
set1.update(set2)

#print the set1
print('updated set1 ',set1)

updated set1  {1, 2, 3, 4, 6, 7}

Q-21 create a set of the first 5 prime numbers

In [8]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

Q-22 check if two sets are identical

In [4]:
# create teo sets of integer
set1={1,2,3,4,5}
set2={2,1,5,3,4} #order dose not matter in sets 

# check if sets are identical or not
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

Q-23 create a frozen set

In [5]:
# create a list of elements that add to be frozenset

list1=[1,2,3,6,7,8]

#Create a frozen set using the 'frozenset' constructor and passing the list of elements
frozen_set=frozenset(list1)

print(frozen_set)

frozenset({1, 2, 3, 6, 7, 8})

Q-24 check if a set is disjoint with another set

In [9]:
# create two sets
set1={1,2,6,7}
set2={8,9,3,4}

# check it have any common element or not if not any common element it returns true otherwise false
dijoint=set1.isdisjoint(set2)

#print the result
print(dijoint)

True

Q-25 create a set of squares of numbers from 1 to 5

In [12]:
# create an empty set
set1=set()

# add square of numbers 1 to 5
for i in range(1,6):
        set1.add(i*i)
        
print('set: ',set1)

set:  {1, 4, 9, 16, 25}

Q-26 filter out all even numbers from a set

In [17]:
#create a set of elements
set1={1,2,3,4,6,8}

# find even elements from set
print('Even numbers in set:')
for i in set1:
     if i%2==0:
            print(i,end=' ')

Even numbers in set:
2 4 6 8

Q-27 multiply all elements in a set by 2

In [19]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

Q-28 create a set of random numbers

In [1]:
import random

#  Initialize an empty set to store the random numbers
random_number_set = set()

# Use a loop to generate random numbers and add them to the set
for _ in range(6):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)
print('set of random numbers: ',random_number_set )

set of random numbers:  {9, 42, 11, 13, 52, 92}

Q-29 check if a set empty

In [8]:
# create a empty set
set1= set()

#if length of set1 is 0 that means set1 is empty
if len(set1)==0:
    print('empty set')
else:
    print('not empty ')

empty set

Q-30 create a nested set

In [12]:
#  Create the inner sets
set1 = {1, 2, 3, 4}
set2 = {6, 7, 8, 9}

#  Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4}), frozenset({8, 9, 6, 7})}

Q-31 Remove an element from a set using the discard method

In [16]:
# create a set
set1={1,2,3,4,6,7,8}

# remove the element by discard method
set1.discard(3)

#print the modified set
print('set: ',set1)

set:  {1, 2, 4, 6, 7, 8}

Q-32 compare two sets

In [18]:
# Define two sets
set1 = {1, 2,3,6,7,8}
set2 = {6,7,8,9,2,1}

# Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

Set 1: {1, 2, 3, 6, 7, 8}
Set 2: {1, 2, 6, 7, 8, 9}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {1, 2, 6, 7, 8}
Union: {1, 2, 3, 6, 7, 8, 9}
Elements in set1 but not in set2: {3}
Elements in set2 but not in set1: {9}

Q-33 create a set from a string

In [31]:
# create a string
str='plateform of learning'

# convert string to set
set1=set(str)

#print the set
print('set: ',set1)

set:  {'p', 'r', 'f', ' ', 'i', 'a', 'm', 'l', 'o', 'n', 'e', 'g', 't'}

Q-34 convert a set of strings to a set of integers

In [24]:
# create a set of string
set1={'1','2','3','4','6','7'}
print('set of string: ',set1)
#create a empty set where add integer
set2=set()

# string convert into integer and add set2
for i in set1:
      set2.add(int(i))
        
#print set2        
print('set of integer: ',set2)

set of string:  {'4', '7', '2', '1', '6', '3'}
set of integer:  {1, 2, 3, 4, 6, 7}

Q-35 create a set of integers to a set of strings

In [11]:
# create a set of integer
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
        num_str = str(num)

    # Step 5: Add the string representation to the strings_set
        strings_set.add(num_str)
print(strings_set)

{'1', '2', '3', '4', '5'}

Q-36 convert a set of from a tuple

In [34]:
# create a tuple 
input_tup=(1,2,3,4,6,7)

# convert tuple to set 
output_set=set(input_tup)

# print the set
print('set: ',output_set)

set:  {1, 2, 3, 4, 6, 7}

Q-37 convert a set to tuple

In [35]:
# create a set
input_set= {1, 2, 3, 4, 6, 7}

# convert set to tuple
output_tup=tuple(input_set)

# print the tuple
print('tuple: ',output_tup)

tuple:  (1, 2, 3, 4, 6, 7)

Q-38 find the maximum value in a set

In [37]:
# create a set
set1={7,8,1,2,3,4}

# find maximun value by using max function
max_value=max(set1)

# print the max value
print('max value: ',max_value)

max value:  8

Q-39 find the minimun value in a set

In [38]:
# create a set
set1={7,8,1,2,3,4}

# find minimun value by using min  function
min_value=min(set1)

# print the min value
print('min value: ',min_value)

min value:  1

Q-40 create a set from user input

In [41]:
# create a empty set
set1=set()

# taking input from user and add into set1
for i in range(4):
       set1.add(input())
        
#  print the set
print('set: ',set1)

 4
 6
 7
 8

set:  {'4', '8', '7', '6'}

Q-41 check if the intersection of two sets is empty

In [44]:
# create two sets
set1={1,2,3,4}
set2={6,7,8,9}

# find intersection bt set1 and set2
is_intersection=set1.intersection(set2)

# check it have any intersection or not
if not is_intersection:
          print(' intersection of two sets is empty')
else:
          print(' intersection of two sets is not empty')

 intersection of two sets is empty

Q-42 create a set of first 5 fibonacci no

In [46]:
# create a empty set
s=set()
n=0
#create a empty list
sum=[]
# first add fibonacci no in list and then convert list to set
while n<=5 :
      if (n==0 or n==1):
        sum.append(n)
        n=n+1
      else:
         sum.append(sum[n-1]+sum[n-2])
         n=n+1
         
print('fibonacci num: ',sum)       
# add list element into set
for i in sum:
    s.add(i)
    
#print the set
print('set: ',s)

fibonacci num:  [0, 1, 1, 2, 3, 5]
set:  {0, 1, 2, 3, 5}

Q-43 Remove duplicates from a list using sets

In [47]:

# Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

Q-44 check if two sets have the same elements,regardless of thier count

In [53]:
# create a set of integer
set1={1,2,3}
set2={1,3,2,1,2,3}

# Convert the sets to lists and sort them
sorted_list1 = sorted(list(set1))
sorted_list2 = sorted(list(set2))

# check if have same element or not
if sorted_list1==sorted_list2:
       print('they have same element')
else:
       print('they have not same element')

they have same element

Q-45 create a set of the first 'n' powers of 2

In [15]:
# enter how many power of two you want
n=int(input('enter n power'))
# create of empty set
set_1=set()

# add power of two from 1 to n
for i in range(n+1):
    power_2=2**i
    set_1.add(power_2)
    
    
# print the set       
print('set of power_2: ',set_1)

enter n power 4

set of power_2:  {1, 2, 4, 8, 16}

Q-46 find the common elements between a set and a list

In [32]:
# create a set
set1={1,2,3,4}

#create a list
list1={3,4,8,9}

#convert list to set
set2=set(list1)

#find common element of two sets by using intersection method
common_elm=set1.intersection(set2)

# print the common elemnt in both sets
print('common element in set and list is :',common_elm)

common element in set and list is : {3, 4}

Q-47 create a set of the first 'n' triangular numbers

In [12]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  8

The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

Q-48 check if a set contains another set as a subset

In [45]:
# create a set1 and set2
set1={1,2,3,4,5,6,7}
set2={1,3,4,6}
# check if set2 is subset of set1
is_subset=set2.issubset(set1)

# print the result
if is_subset:
      print('set2 is subset is set1')
else:
      print('set2 is subset is set1')

set2 is subset is set1

Q-49 create a set of alternating 1s and 0s of length 'n'

In [58]:
# create a empty
set1=set()

#Define the desired length of the alternating set.
n=int(input('enter any number'))

# add elements to the set
for i in range(n):
            if i%2==0:    # Add 1 if i is even.
                set1.add(1)
            else:           # Add 0 if i is odd.
                set1.add(0)

# print the result                
print('set: ',set1)

enter any number 6

set:  {0, 1}

Q-50 merge mutiple sets into one

In [59]:
# create a multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}